################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio 
.vs
bin
obj
packages
_ReSharper.*
*.suo
*.user

# Visual Studio Code
.vscode

# Node
node_modules

